@import "./scss/custom-bootstrap.scss";
@import "./scss/_colors.scss";

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro";
}

body {
  color: $dark;
}

form [type="submit"] {
  margin-top: 10px;
}

.width-100pc {
  width: 100%;
}

.link {
  color: $blue;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;

  .b-icon {
    margin-right: 5px;
  }

  &:hover {
    text-decoration: none;
    color: $hover-blue;
  }
}

.input-info-link {
  font-size: 0.9rem;
  text-align: right;
  display: block;
  text-decoration: underline;
  margin-bottom: -1rem;
}

.grayed {
  color: $dark-60pc;
}
.green {
  color: $green;
}
.red {
  color: $red;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.clear {
  clear: both;
}

.hidden {
  display: none;
}
.invisible {
  opacity: 0;
}

.help-icon {
  color: $blue;
  margin-left: 5px;
}

.b-table-selectable-checkbox {
  .custom-control-label {
    cursor: pointer;
  }
  .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: $blue;
  }
  .custom-control-input[disabled] ~ .custom-control-label::before,
  .custom-control-input:disabled ~ .custom-control-label::before {
    background-color: #fff;
  }
}

.font-xl {
  font-size: 2em;
}

.pad-left {
  padding-left: 1em;
}

.pad-right {
  padding-right: 1em;
}

.mar-top {
  margin-top: 1em;
}

.admin-box {
  padding: 1em;
  background-color: $grey;
  margin-top: 30px;
  
  &:last-child {
    margin-bottom: 30px;
  }
}