$blue: #066be2;
$hover-blue: #317be5;
$hover-light-blue: #e9f0fc;
$dark: #444444;
$grey: #e3e3e3;
$white: #ffffff;
$black: #000000;
$green: #155724;
$background-green: #d4edda;
$background-grey: #f4f5f8;
$background-grey-60pc: rgba(244, 245, 248, 0.6);
$red: #a61b1b;

$blue-80pc: rgba(6, 107, 226, 0.8);
$blue-60pc: rgba(6, 107, 226, 0.6);
$blue-40pc: rgba(6, 107, 226, 0.4);
$blue-20pc: rgba(6, 107, 226, 0.2);
$blue-10pc: rgba(6, 107, 226, 0.1);
$blue-05pc: rgba(6, 107, 226, 0.05);

$dark-80pc: rgba(68, 68, 68, 0.8);
$dark-60pc: rgba(68, 68, 68, 0.6);
$dark-40pc: rgba(68, 68, 68, 0.4);
$dark-20pc: rgba(68, 68, 68, 0.2);
$dark-10pc: rgba(68, 68, 68, 0.1);

$green-80pc: rgba(21, 87, 36, 0.8);
$green-60pc: rgba(21, 87, 36, 0.6);
$green-40pc: rgba(21, 87, 36, 0.4);

$border-color-grey: $dark-10pc;
$delete: $red;
$progressbar: $background-green;
