$blue: #066BE2;
$dark: #444444;
$grey: #E3E3E3;
$white: #ffffff;
$black: #000000;
$green: #155724;
$background-green: #d4edda;
$red: #a61b1b;

$blue-80pc: rgba(6, 107, 226, .8);
$blue-60pc: rgba(6, 107, 226, .6);
$blue-40pc: rgba(6, 107, 226, .4);
$blue-20pc: rgba(6, 107, 226, .2);
$blue-10pc: rgba(6, 107, 226, .1);
$blue-05pc: rgba(6, 107, 226, .05);

$dark-80pc: rgba(68, 68, 68, .8);
$dark-60pc: rgba(68, 68, 68, .6);
$dark-40pc: rgba(68, 68, 68, .4);
$dark-20pc: rgba(68, 68, 68, .2);
$dark-10pc: rgba(68, 68, 68, .1);

$green-80pc: rgba(21, 87, 36, .8);
$green-60pc: rgba(21, 87, 36, .6);
$green-40pc: rgba(21, 87, 36, .4);

$delete: $red;
$progressbar: $background-green;