$blue: #066BE2;
$dark: #444444;
$grey: #E3E3E3;

$blue-80pc: rgba(6, 107, 226, .8);
$blue-60pc: rgba(6, 107, 226, .6);
$blue-40pc: rgba(6, 107, 226, .4);
$blue-20pc: rgba(6, 107, 226, .2);
$blue-10pc: rgba(6, 107, 226, .1);
$blue-05pc: rgba(6, 107, 226, .05);