@import '~bootstrap';
@import '~bootstrap-vue';

@import './_colors.scss';

$theme-colors: (
  "primary": $blue
);

.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
  border-color: $blue;
  padding: 0.45rem 1.2rem;
  font-size: 0.9rem;

  &-primary {
    background-color: $blue;

    &:hover {
      background-color: $hover-blue;
    }
  }

  &.btn-secondary {
    background-color: $white;
    color: $blue;
    transition: linear 100ms background-color;

    &:hover {
      background-color: $blue-05pc;
      border-color: $blue;
    }
  }

  &.btn-sm {
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
  }
  
  &.btn-secondary.dropdown-toggle {
    color: $blue;
    background-color: $blue-05pc;
    border-color: $blue;
  }
}


.form-control {
  border-radius: 0;
  border-color: $blue-60pc;

  &::placeholder {
    color: $blue-60pc;
  }
  &::-ms-input-placeholder {
    color: $blue-60pc
  }
  &:-ms-input-placeholder {
    color: $blue-60pc
  }
}
.form-group {
  label {
    font-weight: bold;
  }
}
.custom-select {
  border-radius: 0;
  border-color: $blue-60pc;
}

.alert {
  border-radius: 0;
}

.dropdown-menu {
  border-radius: 0;
  border: none;
  box-shadow: 0px 20px 20px $grey;
}

.nav-pills .nav-link {
  border-radius: 0;
}

.modal-content {
  border-radius: 0;

  .modal-header {
    padding: 1.5rem;
    border: none;
  }

  .modal-body {
    padding: 1.5rem;
  }

  .modal-footer {
    padding: 1.5rem;
    border: none;
  }
}

.table {
  color: $dark;
}

.table.b-table > thead > tr > [aria-sort="none"] {
  background-size: 0 0;
  
  &:hover {
    background-size: 0.65em 1em;
  }
}
.table .thead-light th {
  color: $dark;
  background-color: $background-grey;
  border-color: $border-color-grey;
}
.table-hover tbody tr:hover {
  background-color: $background-grey-60pc;
  td .hover-cell {    
    opacity: 1;
  }
}
.table-hover tbody tr > td .hover-cell {
  opacity: 0;
  transition: ease 100ms opacity;
}

.b-table-empty-row > td {
  text-align: center;
  padding: 2rem;
}