@import '~volateq-geovisualization/dist/volateq-geovisualization.css';
@import '@/scss/_colors.scss';

$width: 400px;

.layer-switcher {
  &.open {
    flex-basis: $width;
  }
  .content {
    margin-top: 20px;
    margin-left: -20px;
    width: $width;
  }
}
.layer-display {
  padding-left: 20px;
  &-group {
    font-size: 1.5rem;
    margin-top: 20px;
  
    &-sub {
      font-size: 1.3rem;
      margin-top: 20px;
    }
  }
  .layer-switcher.open &.to-bottom {
    position: absolute;
  }
  &.to-bottom:nth-child(1) {
    bottom: 20px;
  }
  &.to-bottom:nth-child(2) {
    bottom: 45px;
  }
}

.ol-control.ol-zoom {
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  top: auto;
  left: auto;
  bottom: calc(0.5em + 30px);
  right: 0.5em;


  button {
    color: $blue;
    background-color: $white;
    border: none; //1px solid $blue;
    border-radius: 0;
    font-weight: normal;
    
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: $background-grey;
    }
  }
}
