@import '~volateq-geovisualization/dist/volateq-geovisualization.css';
@import '@/scss/_colors.scss';

.ol-control.ol-zoom {
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  top: auto;
  left: auto;
  bottom: calc(0.5em + 30px);
  right: 0.5em;


  button {
    color: $blue;
    background-color: $white;
    border: none; //1px solid $blue;
    border-radius: 0;
    font-weight: normal;
    
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: $background-grey;
    }
  }
}
